button {
  outline: 0;
}
input {
  outline: 0;
}

.App {
  text-align: center;
  background-color: ghostwhite;
}
.container {
  display: flex;
  justify-content: space-around;
}
/* Count Style  */
.click-count {
  padding: 0.5rem;
  max-width: 30%;
}

.number-click {
  font-size: 1rem;
  font-family: monospace;
}

.click-me-btn {
  background: none;
  border: 0.5px solid black;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.click-me-btn:hover {
  background-color: black;
  color: ghostwhite;
  border: 0.5px solid black;
  transition: 0.3s;
}

/* Text Change  */

.text-container {
  display: flex;
  flex-direction: column;
  color: ghostwhite;
  background-color: black;
  border-radius: 0.3rem;
  padding: 0.8rem;
  height: 50%;
}
.text-container > input {
  background-color: black;
  color: ghostwhite;
  border: 0.5px solid ghostwhite;
  padding: 0.3rem;
  margin: 2%;
}

/* Add Contact */

.users-container {
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgba(0, 0, 0, 0.377);
  padding: 0.8rem;
}
.add-btn {
  width: 40%;
  align-self: center;
  font-size: 0.7rem !important;
}
.users-container > input {
  border: 0.5px solid rgba(0, 0, 0, 0.253);
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 3%;
}

/* Contact List  */
.contact-list-container {
  display: flex;
  flex-wrap: wrap;
}
.contact-list-container > * {
  margin: 2%;
}
